<phpunit colors="true" bootstrap="./tests/bootstrap.php">
	<testsuites>
		<testsuite name="Data tests">
			<directory>./tests/data/</directory>
		</testsuite>
        <testsuite name="Territory tests">
            <directory>./tests/territory/</directory>
        </testsuite>
        <testsuite name="Number tests">
            <directory>./tests/number/</directory>
        </testsuite>
        <testsuite name="Currency tests">
            <directory>./tests/currency/</directory>
        </testsuite>
	</testsuites>
</phpunit>
