<phpunit
        colors="true"
        bootstrap="./tests/bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
>
	<testsuites>
        <testsuite name="Collection tests">
            <directory>./tests/suites/collection/</directory>
        </testsuite>
		<!-- <testsuite name="Data tests">
			<directory>./tests/suites/data/</directory>
		</testsuite>
              <testsuite name="Territory tests">
                   <directory>./tests/suites/territory/</directory>
               </testsuite>
               <testsuite name="Number tests">
                   <directory>./tests/suites/number/</directory>
               </testsuite>
               <testsuite name="Currency tests">
                   <directory>./tests/suites/currency/</directory>
               </testsuite>-->
	</testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html"
             target="./tests/output/coverage/html"
             lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-text"
             target="php://stdout"
             showUncoveredFiles="true"/>
    </logging>
</phpunit>
