<phpunit
        colors="true"
        bootstrap="./tests/bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        strict="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
>
    <testsuites>
        <testsuite name="Assertions tests">
            <directory>./tests/suites/Assertions/</directory>
        </testsuite>
        <testsuite name="Collections tests">
            <directory>./tests/suites/Collections/</directory>
        </testsuite>
        <testsuite name="Data tests">
            <directory>./tests/suites/Data/</directory>
        </testsuite>
        <testsuite name="Entities tests">
            <file>./tests/suites/Entities/VariantTest.php</file>
            <file>./tests/suites/Entities/ScriptTest.php</file>
            <file>./tests/suites/Entities/LanguageTest.php</file>
            <file>./tests/suites/Entities/TerritoryTest.php</file>
            <file>./tests/suites/Entities/LocaleTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./src/Entities/</directory>
            <directory suffix=".php">./src/Collections/</directory>
            <directory suffix=".php">./src/Assertions/</directory>
            <directory suffix=".php">./src/Data/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html"
             target="./build/output/coverage/html"
             lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-text"
             target="php://stdout"
             showUncoveredFiles="true"/>
    </logging>
</phpunit>